<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<link rel="stylesheet" type="text/css" href="decoration.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="app.js"></script>
	</head>
	<body ng-controller="toDoCtrl">
	<h1>My To-Do-List App</h1>
	<form ng-submit="addToDo()">
		<input type="text" ng-model="toDoInput" size="60" placeholder="Add your new to-do here">
		<input type="submit" value="Add">
	</form>
		<!--put the list here -->
		<div ng-repeat="x in toDoList">
			<input type="checkbox" ng-model="x.done"> <span class="done-{{x.done}}">{{x.toDoText}}</span>
		</div>

	<button ng-click="remove()">Remove Marked</button>

	</body>
</html>